html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

label[for] {
  cursor:pointer;
  user-select:none;
}

/* 라이브러리 */
.block {
  display:block;
}

.inline-block {
  display:inline-block;
}

.absolute-left {
  position:absolute;
  left:0;
}

.absolute-right {
  position:absolute;
  right:0;
}

.absolute-bottom {
  position:absolute;
  bottom:0;
}

.absolute-top {
  position:absolute;
  top:0;
}

.absolute-center {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

.absolute-middle {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.absolute-middle.absolute-center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

.relative {
  position:relative;
}

.cell {
  float:left;
  box-sizing:border-box;
}

.cell-right {
  float:right;
  box-sizing:border-box;
}

.row::after {
  content:"";
  display:block;
  clear:both;
}

.clear-both {
  clear:both;
}

.img-box > img {
  width:100%;
  display:block;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.margin-0-auto {
  margin-left:auto;
  margin-right:auto;
}

.text-align-center {
  text-align:center;
}

.text-align-right {
  text-align:right;
}

.line-height-0 {
  line-height:0;
}

.line-height-0 > * {
  line-height:normal;
}

.width-30px {
  width:30px;
}

.width-35px {
  width:35px;
}

.width-40px {
  width:35px;
}

.width-45px {
  width:35px;
}

.width-50px {
  width:50px;
}

.width-80px {
  width:80px;
}

.width-100px {
  width:100px;
}

.width-100p {
  width:100%;
}

.width-60p {
  width:60%;
}

.width-55p {
  width:55%;
}

.width-50p {
  width:50%;
}

.width-45p {
  width:45%;
}

.width-40p {
  width:40%;
}

.width-30p {
  width:30%;
}

.width-35p {
  width:35%;
}

.width-100p-except-30px {
  width:calc(100% - 30px);
}

.width-100p-except-35px {
  width:calc(100% - 35px);
}

.width-100p-except-40px {
  width:calc(100% - 40px);
}

.width-100p-except-50px {
  width:calc(100% - 50px);
}

.width-100p-except-80px {
  width:calc(100% - 80px);
}

.width-100p-except-100px {
  width:calc(100% - 100px);
}

.height-100p {
  height:100%;
}

.height-50p {
  height:50%;
}

.border-box {
  box-sizing:border-box;
}

.font-size-dot-8rem {
  font-size:.8rem;
}

.table-row {
  display:table;
}

.table-row.row::after {
  display:inline;
  clear:non;
}

.table-row > .cell {
  float:none;
  display:table-cell;
}

.border-red {
  border:10px solid red;
}

.border-green {
  border:10px solid green;
}

.border-blue {
  border:10px solid blue;
}

.border-gold {
  border:10px solid gold;
}

.border-pink {
  border:10px solid pink;
}

/* 라이브러리 - flex */
* > .flex {
  display:flex;
}

* > .flex-grow-1 {
  flex-grow:1;
}

* > .flex-jc-c {
  justify-content:center;
}

* > .flex-jc-s {
  justify-content:flex-start;
}

* > .flex-jc-e {
  justify-content:flex-end;
}

* > .flex-jc-sb {
  justify-content:space-between;
}

* > .flex-ai-c {
  align-items:center;
}

* > .flex-ai-s {
  align-items:flex-start;
}

* > .flex-ai-e {
  align-items:flex-end;
}

* > .flex-as-s {
  align-self:stretch;
}

* > .flex-as-c {
  align-self:center;
}

* > .flex-as-s {
  align-self:flex-start;
}

* > .flex-as-e {
  align-self:flex-end;
}

* > .flex-column-nowrap {
  flex-flow:column nowrap;
}

* > .flex-column-wrap {
  flex-flow:column wrap;
}

* > .flex-row-wrap {
  flex-flow:row wrap;
}

.flex-ch-basis-0 > * {
  flex-basis:0;
}

* > .flex-1-0-0 {
  flex:1 0 0;
}

/* 커스텀 */
.con {
  max-width:1140px;
}

@media ( max-width:880px ) {
  .visible-on-md-up {
    display:none;
  }
}

@media ( min-width:881px ) {
  .visible-on-sm-down {
    display:none;
  }
}

/* 모바일 탑바 시작 */
.mobile-top-bar {
  position:fixed;
  top:0;
  height:73px;
  left:0;
  width:100%;
  padding:0 20px;
  box-sizing:border-box;
  background-color:white;
  z-index:10;
}

.mobile-top-bar .btn-toggle-menu-box-1 {
  width:30px;
  height:30px;
  position:relative;
}

.mobile-top-bar .btn-toggle-menu-box-1::before, .mobile-top-bar .btn-toggle-menu-box-1::after {
  content:"";
  position:absolute;
  width:100%;
  height:2px;
  background-color:black;
  transition:transform .3s, top .3s;
}

.mobile-top-bar .btn-toggle-menu-box-1::before {
  top:30%;
  transform-origin:top left;
}

.mobile-top-bar .btn-toggle-menu-box-1::after {
  top:calc(100% - 30% - 2px);
  transform-origin:bottom left;
}

.mobile-top-bar-menu-box-1-actived, .mobile-top-bar-menu-box-1-actived > body {
  overflow:hidden;
}

.mobile-top-bar-menu-box-1-actived .mobile-top-bar .btn-toggle-menu-box-1::before {
  transform:rotate(45deg);
  top:13.5%;
}

.mobile-top-bar-menu-box-1-actived .mobile-top-bar .btn-toggle-menu-box-1::after {
  top:calc(100% - 13.5% - 5%);
  transform:rotate(-45deg);
}

.mobile-top-bar .menu-box-1 {
  background-color:white;
  height:0;
  overflow:hidden;
  position:absolute;
  top:100%;
  left:0;
  width:100%;
  transition:height .3s;
  border-bottom:1px solid #dfdfdf;
}

.mobile-top-bar-menu-box-1-actived .mobile-top-bar .menu-box-1 > ul {
  height:100%;
  overflow:auto;
}

.mobile-top-bar .menu-box-1 ul > li > a {
  font-size:1.2rem;
  font-weight:bold;
  padding-left:10px;
  padding-top:10px;
  paddinb-bottom:10px;
  display:block;
  cursor:pointer;
}

.mobile-top-bar .menu-box-1 ul ul > li > a {
  color:#676767;
  padding-left:20px;
}

.mobile-top-bar-menu-box-1-actived .mobile-top-bar .menu-box-1 {
  height:calc(100vh - 74px);
}

/* 모바일 탑바 끝 */

/* 탑바 시작 */
.top-bar {
  background-color:white;
  height:73px;
  border-bottom: 1px solid #e9e9e9;
  color:#1e1e1e;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10;
}

body {
  padding-top:73px;
}

.top-bar > .con > .menu-box-1 > ul > li > a {
  font-weight:700;
  font-size:17px;
  padding:0 30px;
  cursor:pointer;
  position:relative;
}

.top-bar > .con > .menu-box-1 > ul > li > a::after {
  content:"";
  background-color:black;
  position:absolute;
  bottom:0;
  left:30px;
  width:0;
  height:3px;
  transition:width 0.5s;
}

.top-bar > .con > .menu-box-1 > ul > li:hover > a::after {
  width:calc(100% - 60px);
}

.top-bar > .con > .menu-box-1 > ul > li {
  position:relative;
}

.top-bar > .con > .menu-box-1 > ul > li > ul {
  visibility:hidden;
  position:absolute;
  top:100%;
  left:0;
}

.top-bar > .con > .menu-box-1 > ul > li:hover > ul {
  visibility:visible;
}

.top-bar > .con > .menu-box-1 > ul > li > ul > li > a {
  display:block;
  font-weight:bold;
  padding:10px 0 10px 30px;
  white-space:nowrap;
  color:#777;
  opacity:0;
  cursor:pointer;
}

.top-bar > .con > .menu-box-1 > ul > li:hover > ul > li > a {
  opacity:1;
  transition: 0.3s;
}

.top-bar .menu-box-1-sub-menu-bg {
  position:absolute;
  width:100%;
  height:0;
  background-color:white;
  top:100%;
  transition:height 0.3s;
}

/* 탑바 끝 */

/* 상단배너박스 시작 */
.top-banner-box .txt-box-group > .txt-box-2 {
  font-weight:700;
  opacity:0.1;
}

@media ( min-width:1024px ) {
  .top-banner-box {
    position:relative;
  }

  .top-banner-box .txt-box-group {
    position:absolute;
    left:0;
    width:100%;
    top:50%;
    transform:translateY(-50%);
  }

  .top-banner-box .txt-box-group > .txt-box-1 {
    text-align:right;
    padding-right: 24%;
  }

  .top-banner-box .txt-box-group > .txt-box-1 > h1 {
    font-size:4.2vw;
  }

  .top-banner-box .txt-box-group > .txt-box-1 > h2 {
    font-size:1.5vw;
  }

  .top-banner-box .txt-box-group > .txt-box-2 {
    text-align:right;
    font-size:9.6vw;
    font-weight:700;
    opacity:0.1;
    padding-right:6%;
  }
}

@media ( max-width:1023px ) {
  .top-banner-box .txt-box-group {
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
  }
  
  .top-banner-box .txt-box-group > .txt-box-1 > h1 {
    font-size:6vw;
  }
  
  .top-banner-box .txt-box-group > .txt-box-1 > h2 {
    font-size:4vw;
  }
  
  .top-banner-box .txt-box-group > .txt-box-2 {
    font-size: 9.6vw;
  }
}

.top-banner-box .txt-box-group > .txt-box-1 > h1 {
  opacity:0;
  transform:translateY(100%);
  transition:opacity 1s, transform 1s;
}

.top-banner-box.active .txt-box-group > .txt-box-1 > h1 {
  opacity:1;
  transform:translateY(0);
}

.top-banner-box .txt-box-group > .txt-box-1 > h2 {
  opacity:0;
  transform:translateY(100%);
  transition:opacity 1s .5s, transform 1s .5s;
}

.top-banner-box.active .txt-box-group > .txt-box-1 > h2 {
  opacity:1;
  transform:translateY(0);
}

.top-banner-box .txt-box-group > .txt-box-2 > span {
  display:inline-block;
  transform:translateX(-50%);
  opacity:0;
  transition: transform .8s 1s, opacity .8s 1s;
}

.top-banner-box .txt-box-group > .txt-box-2 > span:nth-of-type(2) {
  transition: transform .8s 1.2s, opacity .8s 1.2s;
}

.top-banner-box.active .txt-box-group > .txt-box-2 > span {
  transform:translateX(0);
  opacity:1;
}

.top-banner-box > .img-box {
  overflow:hidden;
}

.top-banner-box > .img-box > img {
  transform:scale(1.4);
  opacity:0;
  transition:transform 1s, opacity 1s;
  z-index:-1;
  position:relative;
}

.top-banner-box.active > .img-box > img {
  transform:scale(1);
  opacity:1;
}

/* 상단배너박스 끝 */

.company-info-banner-box > .con > .txt-box > div > h1 {
  opacity:0;
  transform:translateY(100px);
  transition:opacity 1s, transform 1s;
}

.company-info-banner-box.active > .con > .txt-box > div > h1 {
  opacity:1;
  transform:translateY(0);
}

.company-info-banner-box > .con > .txt-box > div > .des {
  opacity:0;
  transform:translateY(100px);
  transition:opacity 1s, transform 1s;
}

.company-info-banner-box.active > .con > .txt-box > div > .des {
  opacity:1;
  transform:translateY(0);
}

.company-info-banner-box > .con > .txt-box > div > .btn-box {
  opacity:0;
  transform:translateY(100px);
  transition:opacity 1s, transform 1s;
}

.company-info-banner-box.active > .con > .txt-box > div > .btn-box {
  opacity:1;
  transform:translateY(0);
}

.company-info-banner-box > .con > .img-box {
  transform:translateX(50px);
  transition:transform 1s;
}

.company-info-banner-box.active > .con > .img-box {
  transform:translateX(0);
}

/* 회사소개배너박스 시작 */
@media ( min-width:1024px ) {
  .company-info-banner-box > .con {
    max-width:none;
    margin-left:20vw;
    margin-right:150px;
  }

  .company-info-banner-box > .con > .txt-box > div > h1 {
    font-size:3.8vw;
  }

  .company-info-banner-box > .con > .txt-box > div > .des {
    font-size:1.4vw;
  }

  .company-info-banner-box > .con > .txt-box > div > .btn-box > .btn-go-to-company-info {
    font-size:20px;
  }

  .company-info-banner-box > .con > .img-box {
    width:30vw;
  }
}

@media ( max-width:1023px ) {
  .company-info-banner-box > .con {
    flex-wrap:wrap;
  }
  
  .company-info-banner-box > .con > .txt-box {
    width:100%;
    justify-content:center;
  }

  .company-info-banner-box > .con > .txt-box > div > h1 {
    font-size:6vw;
  }

  .company-info-banner-box > .con > .txt-box > div > .des {
    font-size:3.4vw;
  }

  .company-info-banner-box > .con > .txt-box > div > .btn-box > .btn-go-to-company-info {
    font-size:2vw;
  }

  .company-info-banner-box > .con > .img-box {
    margin-top:-20px;
    width:50%;
    margin-left:auto;
  }
}

/* 회사소개배너박스 끝 */


/* 인재모집배너박스 시작 */
.recruit-banner-box {
  position:relative;
  overflow:hidden;
}

.recruit-banner-box::before {
  content:"";
  background-image:url(./img/main-recruit-bg.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform:scale(1.2);
  transition: transform 1s;
}

.recruit-banner-box.active::before {
  transform:scale(1);
}

.recruit-banner-box::after {
  content:"";
  padding-top:41.0779%;
  display:block;
}

.recruit-banner-box > .txt-box > .title {
  color:white;
  font-size:3.8vw;
  margin-bottom:3%;
}

.recruit-banner-box > .txt-box > .btn-go-recruit {
  background-color:#ffdf00;
  padding:18px 30px;
  font-size:20px;
  border-radius:30px;
  display:inline-block;
}

@media ( max-width:1023px ) {
  .recruit-banner-box > .txt-box > .btn-go-recruit {
    padding: 2% 3%;
    font-size: 2vw;
  }
}
/* 인재모집배너박스 끝 */

/* 푸터박스 시작 */
.footer {
  background:#222;
  color:#666666;
  padding-bottom:50px;
}

@media ( min-width:881px ) {
  
.footer > .con > .footer-box-1 > ul{
  padding-top:40px;
  margin-left:-14px;
}

.footer > .con > .footer-box-1 > ul > li > a {
  color:#666666;
  padding:0 14px;
  font-size:14px;
  position:relative;
}

.footer > .con > .footer-box-1 > ul > li > a::after {
  content:"";
  display:block;
  height:14px;
  background:#666666;
  width:1px;
  position:absolute;
  top:16%;
  right:0;
}

.footer > .con > .footer-box-2 {
  margin-top:112px;
}

.footer > .con > .footer-box-3 {
  font-size:14px;
  position:relative;
}

.footer > .con > .footer-box-3 > .txt-box-1 > p {
  border-right:1px solid #666666;
  padding-right:20px;
} 

.footer > .con > .footer-box-3 > .txt-box-2 {
  margin-left:20px;
}

.footer > .con > .footer-box-3 > .txt-box-2 > span {
  position:absolute;
  bottom:0;
  right:0;
}
  
}

@media ( max-width:880px ) {
  .footer > .txt-box {
    margin-left:30px;
    margin-right:30px;
  }
  .footer > .con > .footer-box-1 > ul {
    padding-top:50px;
  }
  
  .footer > .con > .footer-box-1 > ul > li > a {
    padding:5px 0px;
    display:inline-block;
    font-size:16px;
  }
  
  .footer > .con > .footer-box-2 > a {
    margin-top:110px;
    display:block;
  }
  
  .footer > .con > .footer-box-3 > p {
    font-size:14px;
  }
  
  .footer > .con > .footer-box-3 > span {
    font-size:14px;
  }
}

/* 푸터박스 끝 */